<p>pipe works!</p>
<!-- <div class="container">
    <h4>Today's date: {{toDate}}</h4>
    <h4>MediumDate: {{toDate| date: 'medium'}}</h4>
    <p>short : {{toDate | date:'short'}} </p>
    <p>fullDate : {{toDate | date:'fullDate'}} </p>
    <p>longDate : {{toDate | date:'longDate'}} </p>
    <p>mediumDate : {{toDate | date:'mediumDate'}} </p>
    <p>shortDate : {{toDate | date:'shortDate'}} </p>
    <p>mediumTime : {{toDate | date:'mediumTime'}} </p>
    <p>dd-MM-y : {{toDate | date:'dd-MM-y'}} </p>
    <p>dd-MM-yy HH:mm : {{toDate | date:'dd-MM-yy HH:mm'}} </p>

    <p></p>
</div> -->
<!-- <br>
<div class="container">
    <p>Uppercase: {{msg | uppercase}}</p>
    <p>Lowercase: {{msg | lowercase}}</p>
    <p>Slicing: {{msg | slice:2}}</p>
    <p>Slicing: {{msg | slice:7:12}}</p>
    <p>Slicing: {{msg | slice:-5}}</p>
</div>  -->

<br>
<div class="container">
    <p>{{num}}</p>
    <p>{{num | number}}</p>
     <p>{{num | number : '3.1-2'}}</p>   //beFore decimal point there should be 3 integers, iF not thrn it will give 0's. 
    
</div>

<!-- <br>
<div class="container">
    <p>{{per}}</p>
    <p>{{per | percent}}</p>
    <p>{{per | percent : '1.2-2'}}</p>
    <p>{{per | percent : '3.2-2'}}</p>
</div> -->

<br>
<div class="container">
    <p> {{curr | currency}} </p>
    <p> {{curr | currency : 'INR'}} </p>
</div>